#footer {
  position: fixed;
  float: left;
  padding-left: 0px;
  left: 0px;
  bottom: 0px;
  // opacity: 0.8;
  width: 100%;
  padding-top: 26px;
  background-color: #00004d;
}

.footerText {
  color: white;
  text-align: center;
  align-items: center;
  font-size: 9px;
  margin-top: -2%;
}
