#divChart .card-header.collapsed {
    box-shadow: whitesmoke !important;
    margin-top: 0%;
    margin-left: -1%;
    background-color: #0031A0;
    border: 1px solid #0031A0;
    padding: 4px;
}

span#effortHeader {
    font-weight: 400;
    font-size: 13px;
    color: white;
}

#divChart #faicon {
    font-size: 12px !important;
    color: white;
}
.card{
    border: 1.5px solid whitesmoke;
    margin-left: 1%;
}
.card-body{
    padding: 9px;
    background-color:white;
    border: 1px solid white;
}
.chartspan{
    font-size:11px;
}
